.rent__app__wrapper {
    display: flex;
    gap: 32px;
    align-items: center;

    .phone__image{
        display: none;
    }

    .rent__app__details {
        display: flex;
        flex-direction: column;
        gap: 16px;
        max-width: 448px;
        flex: 1;

        .details__title {
            @extend %title;
        }

        .details__description,
        .details__note {
            font-family: $font-Poppins;
            color: $text-color-primary;
        }

        .details__note {
            font-weight: 700;
            font-size: 12px;
            line-height: 12px;
            text-transform: uppercase;
        }

        .details__description {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
        }

        .details__form {
            width: max-content;
            display: flex;
            align-items: center;
            border: 1px solid $text-color-primary;
            border-radius: 90px;
            padding: 8px 8px 8px 16px;
            gap: 18px;

            input {
                width: 226px;
                font-size: 14px;
                font-weight: 400;
                color: $text-color-primary;
            }

            button {
                background: transparent;
            }
        }
    }
}

@media (max-width:1100px) {
    .rent__app__wrapper img{
        width: 500px;
    }
}

@media (max-width:900px) {
    .rent__app__wrapper{
        flex-direction: column;
    }

    .rent__app__wrapper .rent__app__details{
        max-width: 600px;
        width: 100%;
    }

    .rent__app__wrapper .desktop__image{
        display: none;
    }

    .rent__app__wrapper .phone__image{
        display: block;
        width: 100%;
    }

}

@media (max-width:500px) {
    .rent__app__wrapper .rent__app__details .details__title{
        font-size: 40px;
    }
}